<div vexContainer class="mt-12 container">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" class="mx-12">
        <div fxFlex="50" class="w-full">
            <h1 class="text-5xl font-bold leading-snug uppercase">Easiest way to rent
                <br>
                a home
            </h1>
        </div>
        <div class="w-full" fxFlex="50">
            <img src="assets/img/dashboard.png" style="height: 180px;" />
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" class="mx-12 my-12">
        <div class="flex items-center border-b border-teal-500 py-2 px-gutter w-full">
            <input
            class="appearance-none block w-full bg-gray-200 text-gray-700 border-2 border-black rounded py-4 px-4 mb-4 leading-tight focus:outline-none focus:bg-white focus:border-primary"
            id="grid-password" type="text" placeholder="Add Location...">
            <button class="flex-shrink-0 bg-primary text-xl border-4 text-white py-2 px-8  mb-4 rounded" type="button">
              Search
            </button>
        </div>
       
    </div>
</div>